In [2]:
#1.Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [3]:
name = input('Enter the name: ')
roll_num= input('Enter the roll number: ')
mark= input('Enter the mark: ')
print('Name: ',name)
print('Roll No: ',roll_num)
print('Mark: ',mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name:  Anisha
Roll No:  21
Mark:  78

In [5]:
#2. Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=temperature in Fahrenheit.

In [9]:
f= float(input('Enter temperature in Fahrenhiet= '))
celsius= (f-32)*5/9
print('Temperature in celsius= ',celsius)
c= float(input('Enter temperature in Celsius= '))
fahrenhiet= ((c*9)/5)+32
print('Temperature in Fahrenhiet= ',fahrenhiet)

Enter temperature in Fahrenhiet= 100
Temperature in celsius=  37.77777777777778
Enter temperature in Celsius= 37.778
Temperature in Fahrenhiet=  100.0004

In [10]:
#3.Write a Python program to accept two numbers from the user and display its product.

In [12]:
num1= int(input('Enter the first number: '))
num2= int(input('Enter the second number: '))
product= num1*num2
print('Product= ',product)

Enter the first number: 5
Enter the second number: 10
Product=  50

In [14]:
#4.Write a Python program to accept a string “Learn Python by Developing a Website” and display the string like “Learn**Python** by Developing a **Website**”

In [15]:
string= input('Enter the string: ')
print('Learn**Python** by Developing a **Website**')

Enter the string: Learn Python by Developing a Website
Learn**Python** by Developing a **Website**

In [16]:
#5.Write a Python program to accept the radius of a circle and display its area.

In [19]:
import math
r=float(input('Enter the radius of circle: '))
area= math.pi*r*r
print('Area of the circle= ',area)

Enter the radius of circle: 10
Area of the circle=  314.1592653589793

In [20]:
#6.Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [23]:
l1 = [10,20,30,40,50]
print(l1)
num= int(input('Enter the number to be inserted in the list: '))
pos= int(input('Enter the position where number should be inserted: '))
l1.insert(pos,num)
l1

[10, 20, 30, 40, 50]
Enter the number to be inserted in the list: 25
Enter the position where number should be inserted: 2

[10, 20, 25, 30, 40, 50]

In [24]:
#7.Write a program to rename a key city to a location in the following dictionary.sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [28]:
d1= { "name": "John", "age":5, "salary": 8000, "city": "New York"}
print(d1)
d1['location']= d1['city']
del d1['city']
d1

{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York'}

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

In [30]:
#8.Write a Python program to change Brad’s salary to 8500 in the following dictionary.

In [33]:
dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
dict['emp3']['salary']= 8500
dict

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [34]:
#9.Write a program to copy elements 43 and 54 from the following tuple into a new tuple. Given:tuple1 = (10, 20, 43, 54, 56, 68)

In [38]:
t1 = (10, 20, 43, 54, 56, 68)
t2= t1[2:4]
print(t1)
print('New tuple=',t2)

(10, 20, 43, 54, 56, 68)
New tuple= (43, 54)

In [39]:
#10.Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [40]:
t1 = (50, 10, 60, 70, 50,83,567,50,81)
count= t1.count(50)
print('No of occurrences of item 50 = ', count)

No of occurrences of item 50 =  3